body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.body {
    flex: 1 0 auto;
    padding: 20px;
}
