<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/auth/auth.css') }}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>

    <div class="w3-display-container w3-padding-large w3-center" style="min-height: 100vh;">
        <div class="w3-card-4 w3-display-middle w3-margin">
            {% block  content %}
            {% endblock %}
        </div>
    </div>
    
</body>
</html>