{% extends 'auth/auth.html' %}

{% block content %}

<div class="w3-text-theme w3-padding-large" style="font-size: 60px;">
    <i class="bi bi-person-circle"></i>
</div>

<form action="/" class="w3-container w3-padding-large">
    <label for="username" class="w3-left w3-opacity">Username</label>
    <input type="text" class="w3-input" name="username">
    <br>
    <label for="password" class="w3-left w3-opacity">Password</label>
    <input type="assword" class="w3-input">
    <br>
    <input type="submit" value="Submit" class="w3-button w3-theme w3-text-theme-d4" style="border-radius: 5px; font-weight: 800;">
</form>

<p>or continue with</p>

<div class="w3-bar w3-padding w3-margin">
    <div class="w3-bar-item w3-button"><i class="bi bi-google"></i> Google</div>
    <div class="w3-bar-item w3-button"><i class="bi bi-github"></i></i> Github</div>
    <div class="w3-bar-item w3-button"><i class="bi bi-linkedin"></i> LinkedIn</div>
</div>
<br>
<div class="w3-bar w3-center">
    <div class="w3-bar-item w3-button w3-theme-d1 w3-margin" style="border-radius: 5px;">Forgot Password?</div>
    <div class="w3-bar-item w3-button w3-theme-d1 w3-margin" style="border-radius: 5px;">Sign Up</div>
</div>

{% endblock %}