<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/w3/w3.css">
    <link rel="stylesheet" href="../static/styles/duck.css">
    <title>Duck</title>
</head>
<header class="w3-border-bottom w3-display-container w3-top">
    <div class="w3-padding w3-display-left home w3-round-medium" style="cursor: pointer;">
        <div class="home">
            <div class="menu w3-round w3-button">&#9776;</div>
            <div class="w3-large w3-margin-left"><span class="w3-xlarge">D</span>uck</div>
        </div>
    </div>

    <div class="w3-margin-right w3-display-right" style="display: flex;flex-direction:row;align-items:center">
        <div style="vertical-align: middle;" class="w3-small w3-margin-right login-status w3-round">
		<a href="login.html" class="w3-button">Login</a>
		<a href="signup.html" class="w3-button">Signup</a>
        </div>
        <div class="w3-circle prof" style="vertical-align: middle;">
            <img src="favicon.ico" alt="Duck">
        </div>
    </div>
</header>
<main>

    <body class="w3-container" style="margin-top: 80px;">
        <div class="w3-border content">
            <div class="banner" id="banner">
                <div class="banner-content">
                    <p class="w3-jumbo">Duck</p>
                </div>
            </div>
        </div>
    </body>
    <script src="../static/scripts/script.js"></script>
</main>

<div class="footer-links">
	<footer class=" w3-padding">
		<div class="w3-small w3-row w3-center">
			<div class="w3-col m6 w3-padding">&copy; Duck <span class="year"></span></div>
			<div class="w3-col m6 w3-padding">
				<!-- For Jacob -->
				<a href="https://github.com/jacob" target="_blank" data-name="Jacob">
					<span>&times;</span> &nbsp; GitHub
				</a>
				<a href="https://www.linkedin.com/in/jacob" target="_blank" data-name="Jacob">
					<span>&fallingdotseq;</span> &nbsp; LinkedIn
				</a>
				<a href="https://twitter.com/jacob" target="_blank" data-name="Jacob">
					<span>&target;</span> &nbsp; Twitter
				</a>

				<!-- For Alice -->
				<a href="https://github.com/JEPTUI" target="_blank" data-name="Alice Kiptui">
					<span>&times;</span> &nbsp; GitHub
				</a>
				<a href="https://www.linkedin.com/in/alice-kiptui96/" target="_blank"
					data-name="Alice Kiptui">
					<span>&fallingdotseq;</span> &nbsp; LinkedIn
				</a>
				<a href="https://twitter.com/AliceJeptui" target="_blank" data-name="Alice Kiptui">
					<span>&target;</span> &nbsp; Twitter
				</a>
			</div>
		</div>
	</footer>
</div>
</html>
