<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../static/styles/w3/w3.css">
	<link rel="stylesheet" href="../static/styles/duck.css">
	<script src="../static/scripts/duck.js"></script>
	<title>Duck</title>
</head>
<div class="duck-form-container w3-card w3-round w3-padding-large">
	<div class="w3-display-container w3-center w3-xlarge" style="font-weight: 900;">
		Login
	</div>

	<br>

	<div class="w3-padding-top-32">
		<div class="input">
			<input type="text" placeholder="Username" class="w3-small w3-input"
			name="login-username" id="login-username" autofocus>
		</div>
		<div class="input">
			<input type="password" placeholder="Password" class="w3-small w3-input w3-margin-top"
			name="login-password" id="login-password">
		</div>

		<div class="w3-center w3-margin-top w3-small">
			<button class="w3-button w3-margin-top w3-round"
				style="background-color: var(--eucalyptus);" onclick="login()">Log
				in</button>
			<button class="w3-button w3-margin-top w3-margin-left w3-round w3-small"
				style="background-color: var(--maverick);">Forgot
				Password?</button>
		</div>
	</div>
</div>
<div class="footer-links">
	<footer class=" w3-padding">
		<div class="w3-small w3-row w3-center">
			<div class="w3-col m6 w3-padding">&copy; Duck <span class="year"></span></div>
			<div class="w3-col m6 w3-padding">
				<!-- For Jacob -->
				<a href="https://github.com/jacob" target="_blank" data-name="Jacob">
                                	<span>&times;</span> &nbsp; GitHub
                        	</a>
                        	<a href="https://www.linkedin.com/in/jacob" target="_blank" data-name="Jacob">
                                	<span>&fallingdotseq;</span> &nbsp; LinkedIn
                        	</a>
                        	<a href="https://twitter.com/jacob" target="_blank" data-name="Jacob">
                                	<span>&target;</span> &nbsp; Twitter
                        	</a>

                        	<!-- For Alice -->
                        	<a href="https://github.com/JEPTUI" target="_blank" data-name="Alice Kiptui">
                                	<span>&times;</span> &nbsp; GitHub
                        	</a>
                        	<a href="https://www.linkedin.com/in/alice-kiptui96/" target="_blank"
					data-name="Alice Kiptui">
                                	<span>&fallingdotseq;</span> &nbsp; LinkedIn
                        	</a>
                        	<a href="https://twitter.com/AliceJeptui" target="_blank" data-name="Alice Kiptui">
                                	<span>&target;</span> &nbsp; Twitter
                        	</a>
			</div>
		</div>
	</footer>
</div>
</html>
