{% extends 'base.html' %}


{% block body %}

<div class="w3-border content">
	<div class="banner" id="banner">
		<div class="banner-content">
			<p class="w3-jumbo">Duck</p>
		</div>
		{% if current_user.is_authenticated %}
		{% endif %}
	</div>
	<div style="color: black;" class="w3-center">
		<a href="" class="w3-link">Dashboard</a>
	</div>
	<div>
		<h2>Contributors</h2>

		<div class="w3-row w3-padding">
			<div class="w3-col m6 w3-center w3-border w3-round">
				<div>
					<div>Profile photo</div>
					<div>Alice Kiptui</div>
					<div>Role</div>
					<div>Contribution</div>
					<a href="">
						<div><i class="bi bi-github"></i> GitHub</div>
					</a>
					<a href="">
						<div><i class="bi bi-linkedin"></i> LinkedIn</div>
					</a>
					<a href="">
						<div><i class="bi bi-twitter"></i> Twitter</div>
					</a>
				</div>
			</div>
			<div class="w3-col m6 w3-center">
				<div>
					<div>Profile photo</div>
					<div>Achira</div>
					<div>Role</div>
					<div>Contribution</div>

					<a href="">
						<div><i class="bi bi-github"></i> GitHub</div>
					</a>
					<a href="">
						<div><i class="bi bi-linkedin"></i> LinkedIn</div>
					</a>
					<a href="">
						<div><i class="bi bi-twitter"></i> Twitter</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}