{% extends 'base.html' %}


{% block body %}

<div class="w3-border content">
	<div class="banner" id="banner">
		<div class="banner-content">
			<p class="w3-jumbo">Duck</p>
		</div>
	</div>

	<div>
		<h2 class="w3-padding">Contributors</h2>

		<div class="w3-row">
			<div class="w3-col m6 w3-center">
				<div>
					<div class="pro-image">Profile photo</div>
					<div>Alice Kiptui</div>
					<div>Role</div>
					<div>Contribution</div>
				</div>
			</div>
			<div class="w3-col m6 w3-center">
				<div>
					<div class="prof-image">Profile photo</div>
					<div>Achira</div>
					<div>Role</div>
					<div>Contribution</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}